# roms n shit
*.z64
*.eeprom
*.config
*.zip
*.7z
sym.txt
paintingcfg.txt

*.o
*.inc.c

# microsoft software shame
.vscode/
*Zone.Identifier
# pilzinsel software shame
Bee/rm/
# llvm development group software shame
compile_commands.json
.cache
# trollengine public edition shame
Bee/*
